@import '../../../styles.scss';

.keyNumberCard {
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 5px 15px;
  
  .card-text {
    color: $secondary-color;
    margin: 0;
  }

  .card-value {
    text-align: center;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
  }

}

