<page-title [title]="countryName | titlecase"></page-title>
<section *ngIf="(olympic$ | async)?.participations">
  <div class="cardsContainer">
    <home-card title="Number of entries" [value]="countryParticipations$ | async"></home-card>
    <home-card title="Total number of medals" [value]="totalMedals$ | async"></home-card>
    <home-card title="Total number of athletes" [value]="totalAthletes$ | async"></home-card>
  </div>
  <div class="chartContainer">
    <ngx-charts-line-chart *ngIf="(data$ | async)?.at(0)?.series" [legend]="false" [showXAxisLabel]="true"
      [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" xAxisLabel="Dates" yAxisLabel="" [timeline]="false"
      [yScaleMin]="(((totalMedals$ | async) || 0) / ((countryParticipations$ | async) || 1)) - 10"
      [yScaleMax]="(((totalMedals$ | async) || 0) / ((countryParticipations$ | async) || 1)) + 10"
      [results]="data$ | async">
    </ngx-charts-line-chart>
  </div>
</section>
<p class="errorText" *ngIf="error">{{ error }}</p>
<a routerLink="/" class="homeLink">
  <span>Go back</span>
</a>