<p *ngIf="loading">Loading...</p>
<p class="errorText" *ngIf="error">{{ error }}</p>
<section *ngIf="!error && !loading">
  <page-title [title]="countryName | titlecase"></page-title>
  <div class="cardsContainer">
    <info-card title="Number of entries" [value]="participations"></info-card>
    <info-card title="Total number of medals" [value]="medals"></info-card>
    <info-card title="Total number of athletes" [value]="athletes"></info-card>
  </div>
  <h2 class="graphTitle">Medals per participation</h2>
  <div class="chartContainer">
    <ngx-charts-line-chart *ngIf="data.length > 0" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
      [xAxis]="true" [yAxis]="true" yAxisLabel="Medals" xAxisLabel="Dates" [timeline]="false" [yScaleMin]="yMin"
      [yScaleMax]="yMax" [results]="data">
    </ngx-charts-line-chart>
  </div>
  <a routerLink="/" class="homeLink">
    <span>Go back</span>
  </a>
</section>